# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FRC\Code\InSeason\5839\5839_RCC2019_Commands\5839_RCCC2019_Command\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
